body {

}

.book_list {
    background-color: #cccccc;
    padding: 20px;
}

.book_list:hover {

    background-color: darkgray;

}

.batch {
    padding: 70px;
    background-color:white ;
}


.accordion-toggle{
    outline: none;
}










/*animate view*/
.mainview-animation.ng-enter {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* IE10+ and Future Browsers */
}

/**
 * Pre animation -> enter
 */
.mainview-animation.ng-enter{
    /* The animation preparation code */
    opacity: 0;
}

/**
 * Post animation -> enter
 */
.mainview-animation.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
}


/* angular-bootstrap required*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
